/* Colorscheme: tokionight-moon */
/* <https://github.com/folke/tokyonight.nvim/blob/14fd5ff7f84027064724ec3157fe903199e77ded/lua/tokyonight/colors/moon.lua> */
:root {
  --bg: #222436;
  --bg-dark: #1e2030;
  /* --bg-dark1: #191B29; */
  /* --bg-highlight: #2f334d; */
  /* --blue: #82aaff; */
  /* --blue0: #3e68d7; */
  /* --blue1: #65bcff; */
  /* --blue2: #0db9d7; */
  /* --blue5: #89ddff; */
  /* --blue6: #b4f9f8; */
  /* --blue7: #394b70; */
  /* --comment: #636da6; */
  /* --cyan: #86e1fc; */
  /* --dark3: #545c7e; */
  /* --dark5: #737aa2; */
  --fg: #c8d3f5;
  --fg-dark: #828bb8;
  /* --fg-gutter: #3b4261; */
  /* --green: #c3e88d; */
  /* --green1: #4fd6be; */
  /* --green2: #41a6b5; */
  /* --magenta: #c099ff; */
  /* --magenta2: #ff007c; */
  --orange: #ff966c;
  /* --purple: #fca7ea; */
  --red: #ff757f;
  --red1: #c53b53;
  /* --teal: #4fd6be; */
  /* --terminal-black: #444a73; */
  --yellow: #ffc777;
  /* --git-add: #b8db87; */
  /* --git-change: #7ca1f2; */
  /* --git-delete: #e26a75; */
}

body {
  background: var(--bg);
  color: var(--fg);
  margin: 0;
  display: flex;
}

hr {
  background: var(--fg-dark);
  border: none;
  height: 1px;
}

/* SIDE PANEL */

#side_panel {
  background: var(--bg-dark);
  position: sticky;
  top: 0;
  margin-left: 0px;
  width: 30%;
  height: 100vh;
}

#side_panel_content {
  max-width: 400px;
  width: 80%;
  display: block;
  margin: auto;
}

#logo {
  border-radius: 50%;
  width: 60%;
  margin-left: 20%;
  margin-top: 50px;
  margin-bottom: 50px;
}

#side_panel_content h1 {
  font-size: 24px;
  text-align: center;
}

.social_item {
  margin-top: 20px;
  margin-right: 10px;
}

.social_item a {
  display: flex;
  align-items: center;
  gap: 15px;

  text-decoration: none;
  color: unset;
}

.social_item img {
  width: 35px;
  height: 35px;

  display: block;
}

/* CONTENT */

#content {
  width: 70%;
  padding-left: 50px;
  padding-right: 50px;
}

.box {
  display: flex;
  border-radius: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.box_icon {
  width: 100px;
  height: 100px;
  margin: 25px;
}

.box_content {
  margin: 25px;
  margin-left: 0px;
  width: 100%;
}

/* MESSAGE */
.message_warning {
  background: var(--yellow);
  border: 8px solid var(--orange);
  color: var(--bg);
}

.message_error {
  background: var(--red);
  border: 8px solid var(--red1);
  color: var(--bg);
}

.message_content hr {
  height: 3px;
}

.message_content h2 {
  margin-top: 0px;
}

.message_error hr {
  background: var(--red1);
}

.message_warning hr {
  background: var(--orange);
}

.message_content {
  position: relative; /* For the button position */
}

.message_close {
  position: absolute;
  right: 0px;
  top: 0px;

  background: transparent;
  color: var(--bg-dark);
  border-radius: 5px;
  border: 2px solid var(--bg-dark); /* Green */
}

.message_close:hover {
  color: var(--fg-dark);
  border-color: var(--fg-dark);
}

.message_title {
  margin-top: 30px;
  margin-bottom: 10px
}

/* Knowledge */

.knowledge_content {
  padding-top: 25px;
}
